<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="userName" value="YogeshYoku"></parameter>
  <parameter name="password" value="PR9Z29"></parameter>
  <parameter name="Location" value="Sydney"></parameter>
  <parameter name="Hotels" value="Hotel Creek"></parameter>
  <parameter name="Room Type" value="Standard"></parameter>
  <parameter name="Number of Rooms" value="1-One"></parameter>
  <parameter name="Adults per Room" value="1-One"></parameter>
  <parameter name="Children per Room" value="0-None"></parameter>
  <parameter name="First Name" value="YogeshKumar"></parameter>
  <parameter name="Last Name" value="Adhikesavan"></parameter>
  <parameter name="Billing Address" value="Chennai"></parameter>
  <parameter name="Credit Card No" value="5656545456564545"></parameter>
  <parameter name="Credit Card Type" value="American Visa"></parameter>
  <parameter name="Expiry Month" value="December"></parameter>
  <parameter name="Expiry Year" value="2022"></parameter>
  <parameter name="CVV" value="355"></parameter>
  <classes>
  <class name="org.testng.ParameterizationExample"></class>
  
 </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
